* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  background-color: rgb(226, 226, 226);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 800, "GRAD" 0, "opsz" 48;
}

.restart {
  display: block;
  position: fixed;
  top: 2.5%;
  right: 2.5%;
  height: 50px;
  width: 50px;
  visibility: hidden;
}

.restart button {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}

.restart button:hover,
.restart button:focus {
  animation: 0.25s linear shake;
}

.restart .material-symbols-outlined {
  font-size: 3rem;
  transform: rotate(90deg);
  color: #2c547c;
}

.restart.visible {
  visibility: visible;
}

.container {
  height: 30%;
}

.container__ui {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  text-align: center;
}

.container__timer {
  color: #be4a4a;
}

.container__timer::after {
  content: "seconds remaining";
  color: inherit;
}

.container__correct__guess__count {
  color: #6cb86c;
}

.container__correct__guess__count::after {
  content: "correct guesses";
}

.container__timer::after,
.container__correct__guess__count::after {
  display: block;
  color: inherit;
  text-transform: capitalize;
  font-style: italic;
}

.container__ui h2 {
  font-size: 60px;
  font-weight: 500;
}

.container__guessword {
  width: 80%;
}

.container__guessword #current__guessword {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 5rem;
  border: none;
  outline: none;
  background: none;

  text-transform: uppercase;
  font-weight: 700;
  color: rgb(81, 80, 80);
}

#current__guessword {
  border-radius: 15px;
  box-shadow: -4px 14px 10px 6px rgba(110, 100, 110, 0.1),
    4px -1px 10px 2px rgba(110, 100, 110, 0.1);
}

.container__word__definitions {
  width: 80%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;

  font-size: 1.5rem;
  color: rgba(54, 54, 54, 1);
}

#span__word__length {
  font-weight: 900;
  color: #2c547c;
  font-size: 1.85rem;
}

#span__word__definition {
  color: #942294;
  border-bottom: 4px solid #942294;
}

.word__definition.cleared {
  text-decoration: line-through;
  font-style: italic;
  color: rgb(94, 90, 90);
  font-weight: 200;
}

.ui__prompt {
  display: none;
  position: absolute;
  height: 400px;
  width: 400px;
  background-color: rgb(184, 184, 184);
  background-color: rgb(222, 222, 222);
  border-radius: 10px;
  padding: 1rem;

  box-shadow: -4px 14px 10px 6px rgba(110, 100, 110, 0.1),
    4px -1px 10px 2px rgba(110, 100, 110, 0.1);

  animation: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) fade;
}

.ui__prompt > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ui__prompt > div:first-of-type {
  font-size: 22px;
  line-height: 2rem;
  padding: 0 1rem;
  font-weight: 400;
}

.ui__prompt button {
  border: none;
  background: none;
  padding: 1rem;
  width: 150px;
  min-height: 50px;
  margin: 0 12px;
  font-size: 14px;
  color: inherit;
  cursor: pointer;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-transform: uppercase;

  transition: 0.4s all ease-in-out;
}

.ui__prompt #btn__continue {
  background: #6cb86c;
  border-radius: 3px;
}

.ui__prompt #btn__cancel {
  background: #be4a4a;
  border-radius: 3px;
}

.ui__prompt.active {
  display: grid;
  grid-template-columns: 1fr;
}

body.blurred > *:not(.ui__prompt) {
  opacity: 40%;
  filter: grayscale(0.75);
}

.ui__prompt button:hover,
.ui__prompt button:focus {
  transform: scale(1.05);
}

@keyframes fade {
  0% {
    opacity: 0;
    transform: scale(50%);
  }

  100% {
    opacity: 1;
    transform: scale(100%);
  }
}

@keyframes shake {
  0% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0px);
  }
}
